@page
@model ProjetD.Pages.Personnelles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personnel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personnel.Nom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personnel.Nom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personnel.Prenom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personnel.Prenom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personnel.TypeD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personnel.TypeD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personnel.DateArrivé)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personnel.DateArrivé)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Personnel.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Personnel.Genre)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Personnel.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
